<button (click)="retour()">Retour</button>
<div *ngIf="ao" class="raob-ao-detail">
    <br/>
    <div><label>Titre&nbsp;: </label>&nbsp;<input [(ngModel)]="ao.titre"></div>
    <div><label>Client&nbsp;: </label>&nbsp;<input [(ngModel)]="ao.client"></div>
    <div><label>Date de réception&nbsp;: </label>&nbsp;<input [(ngModel)]="ao.dateReception"></div>
    <div><label>Date de réponse&nbsp;: </label>&nbsp;<input [(ngModel)]="ao.dateReponse"></div>
    <br/>
    <button (click)="save()">Enregistrer</button>
</div>